<div class= "new-cocktail">
  <div class="new-dose">
    <div class="new-cocktail-title">
    <h1>Create a new cocktail</h1>
    <h3>Give name & attach a photo</h3>
    </div>
    <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <br>
    <%= f.input :photo, as: :file %>
    <br>
    <%= f.submit 'Create new cocktail!',class: "create-button" %>
    <% end %>
    <br>
    <%= link_to "Back", cocktails_path,class: "back-button"%>
  </div>
</div>
